.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.63rem;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;

  &--front-color {
    color: $specialColor;
  }

  &--back-color {
    color: $secondaryColorWhite;
  }
}
