.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #00000033;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  height: 581px;
  width: 528px;
  background: $secondaryColorWhite;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;

  &__close-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 490px;
    border: 1px solid #0000001a;
    border-radius: 50%;
    transition: fill $transitionDurationDefault $transitionsFunctionDefault;

    &:hover {
      fill: #cf3f3a;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 0.87rem;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 34px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;

    & label {
      font-size: 0.75rem;
      line-height: 0.87;
      letter-spacing: 0.01em;
      color: $secondaryColorGrey;
      padding-bottom: 4px;
    }

    & input {
      height: 40px;
      width: 448px;
      border: 1px solid #21212133;
      border-radius: $borderRadiusDefault;
      margin-bottom: 10px;
      padding-left: 42px;

      &:enabled {
        color: $secondaryColorGrey;
      }
    }
  }

  &__form-item {
    position: relative;

    & input {
      transition: border-color $transitionDurationDefault $transitionsFunctionDefault,
        fill $transitionDurationDefault $transitionsFunctionDefault;

      &:focus {
        border-color: $specialColor;
        outline: none;

        & + .modal__form-icons {
          fill: $specialColor;
        }
      }
    }
  }

  &__form-textarea {
    border: 1px solid #21212133;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 16px;
    padding-top: 12px;
    resize: none;
    margin-bottom: 20px;

    &:enabled {
      color: $secondaryColorGrey;
    }

    &::placeholder {
      font-size: 0.75rem;
      line-height: 0.87;
      letter-spacing: 0.01em;
      color: $secondaryColorGrey;
    }

    &:focus {
      border-color: $specialColor;
      outline: none;
    }
  }

  &__form-icons {
    position: absolute;
    left: 15px;
    top: 14px;
  }
}
