.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 254px;
    height: 16px;
    margin-right: 345px;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: $primaryColor;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $transitionDurationDefault $transitionsFunctionDefault;

    &:hover,
    &:focus {
      color: $specialColor;
    }

    &--active-agency,
    &--active-portfolio {
      color: $specialColor;
    }

    &--active-agency::after {
      content: '';
      position: absolute;
      width: 53px;
      height: 4px;
      left: 0;
      top: 45px;
      background-color: $specialColor;
      border-radius: 2px;
    }

    &--active-portfolio::after {
      content: '';
      position: absolute;
      width: 58px;
      height: 4px;
      left: 0;
      top: 45px;
      background-color: $specialColor;
      border-radius: 2px;
    }
  }

  &__logo {
    width: 145px;
    display: flex;
    justify-content: flex-start;
    margin-right: 93px;
  }
}
