.our-customers-section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;    

  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0px;
    fill: $iconsFillingColor;
  }

  &__item {
    width: 210px;
    height: 92px;
    border: 1px solid $iconsFillingColor;
    border-radius: 4px;
    padding: 16px 52px;
    transition: border-color $transitionDurationDefault $transitionsFunctionDefault;

    &:hover,
    &:focus {
      cursor: pointer;
      fill: $specialColor;
      border-color: $specialColor;
    }
  }
}

@media screen and (min-width: 1200px) {
  .our-customers-section {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1170px;

    &__container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    &__list {
      justify-content: space-between;
      max-width: 100%;
      flex-wrap: nowrap;
    }

    &__item {
      width: 170px;
      padding: 17.71px 32px 14.25px;
    }
  }
}
