.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 50px;
  margin: 0 auto;
  padding-left: 15px;

  &__item {
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: $backgroundColorGray;
    padding: 6px 22px;
    border: 0;
    border-radius: $borderRadiusDefault;
    transition: color $transitionDurationDefault $transitionsFunctionDefault,
      background-color $transitionDurationDefault $transitionsFunctionDefault,
      box-shadow $transitionDurationDefault $transitionsFunctionDefault;

    &:hover {
      color: $secondaryColorWhite;
      background-color: $specialColor;
      cursor: pointer;
      box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
    }
    &:focus {
      color: $secondaryColorWhite;
      background-color: $specialColor;
      cursor: pointer;
      box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
    }
  }
}

.portfolio-container {
  max-width: 480px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.portfolio-header-style {
  border-bottom: 1px solid #ececec;
}

.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0px;

  &__title {
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
  }

  &__desctiption {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $secondaryColorGrey;
    padding: 0px 24px 20px 24px;
  }

  &__item {
    border: 1px solid #ececec;
    transition: box-shadow $transitionDurationDefault $transitionsFunctionDefault;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
    }

    &--card-overlay-position {
      position: relative;
      overflow: hidden;
    }

    &--card-overlay-active {
      font-weight: 400;
      font-size: 1.12rem;
      line-height: 1.75rem;
      letter-spacing: 0.03em;
      color: $secondaryColorWhite;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 49px 45px 49px 24px;
      background: #2196f3e5;
      transition: transform $transitionDurationDefault $transitionsFunctionDefault;
      transform: translateY(200%);
    }

    &:hover &--card-overlay-active,
    &:focus &--card-overlay-active {
      transform: translateY(0);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-button-list {
    flex-wrap: nowrap;
    width: 645px;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .portfolio-images-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0px;
  }

  .portfolio-container {
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-button-list {
    flex-wrap: nowrap;
    width: 572px;
    justify-content: space-between;
    gap: 8px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-left: 0;
  }

  .portfolio-container {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
