.second-section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    font-size: 0.88rem;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondaryColorGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 30px;
  }

  &__item {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColorGray;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .second-section {
      margin-left: 15px;
  
      &__container {
        max-width: 768px;
        margin: 0 auto;
      }
  
      &__list {
        flex-wrap: wrap;
      }
      &__icons-box {
        width: 354px;
      }
      &__item {
        max-width: 354px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
}

@media screen and (min-width: 1200px) {
  .second-section {
    padding-bottom: 0;
    padding-top: 94px;
    margin-left: 15px;

    &__container {
      max-width: 1200px;
      margin: 0 auto;
    }

    &__list {
      width: 1170px;
      flex-wrap: nowrap;
    }

    &__icons {
      height: 120px;
      width: 270px;
      padding: 25px 100px;
      background-color: $backgroundColorGray;
    }
  }
}
