.second-section {
  @extend .section-mobile;
  // padding-bottom: 0px;
  // padding-top: 94px;
  // margin-left: 15px;

  // &__container {
  //   @extend .container;
  // }

  &__container {
    @extend .container-mobile;
  }

  // &__title {
  //   font-weight: 700;
  //   font-size: 0.88rem;
  //   line-height: 1.14;
  //   letter-spacing: 0.03em;
  //   text-transform: uppercase;
  // }

  &__title {
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    font-size: 0.88rem;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondaryColorGrey;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  // &__description {
  //   font-size: 0.88rem;
  //   line-height: 1.7;
  //   letter-spacing: 0.03em;
  //   color: $secondaryColorGrey;
  // }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 30px;
  }

  &__item {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // &__list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 1170px;
  //   padding-left: 0px;
  //   gap: 30px;
  // }

  // &__icons {
  //   height: 120px;
  //   width: 270px;
  //   padding: 25px 100px;
  //   background-color: $backgroundColorGray;
  //   margin-bottom: 30px;
  // }

  //  &__icons {
  //   height: 120px;
  //   width: 450px;
  //   padding: 25px 100px;
  //   background-color: $backgroundColorGray;
  //   margin-bottom: 30px;

  &__icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColorGray;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  }
}
