$primaryColor: #212121;
$secondaryColorGrey: #757575;
$secondaryColorWhite: #ffffff;
$specialColor: #2196f3;

$iconsFillingColor: #afb1b8;

$transitionDurationDefault: 250ms;
$transitionsFunctionDefault: cubic-bezier(0.4, 0, 0.2, 1);

$backgroundColorGray: #f5f4fa;

$borderRadiusDefault: 4px;
